.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

/* Styles for devices with screen sizes up to 600px */
@media (max-width: 600px) {
  .newsList {
    flex-direction: column;
    align-items: center;
  }
}
