.navBar {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); /* Add box-shadow */
  position: sticky;
  top: 0;
  z-index: 10;
  /* width: 100%; */
  background-color: aliceblue;
}

.navBar div {
  left: 0 !important;
  position: absolute;
  margin-top: 2px;
}

h1 {
  margin-right: 20px;
}
